# 1. What are data structures and why are they important?
  -> A Data structure is a way of storing and organizing data so that it can be used efficiently.
  In python, data structures are basically container that allow you to hold and manage different types of data together.
  They are important because they:
  1. Data structure are way of storing and organizing data
  in python.
  2. python provides built-in structures like List,Tuple,Set and Dictionary.
  3. They help in managing data efficiently and make operations faster.

# 2.Explain the difference between mutable and immutable data types with example.
  -> Mutable data types.
  1. After creation, you can modify the object.
  2. The same object in memory is updated(memory address stays the same).
   Example -: List , Dictionary, Set.

  -> Immutable data types.
  1. After creation, you cannot modify the object.
  2. If you try to change it,a new object is created in memory.
   Example -: Stinge, Tuple, Int, Float.

# 3. What are the main differences between lists and tuples in python?   
  -> Main Difference between list and tuple in python:
  1. Changeable or Not
     *   A list can be changed(we can add, remove, or update item).
     *   A tuple cannot be changed once it is created.
  2. How to write
     *   A list is written with[].
     *   A tuple is written with().
  3. Speed
     * A list is a little slower because it allows changes.
     * A tuple is faster because it is fixed.
  4. when to use
     * Use a list when data may change(like a shopping list).
     * Use a tuple when data should stay the same(like days of the week).

# 4. Describe how dictionaries store data.
  ->
    
     1. Key-value pairs
        
        * A dictionary stores data in the form of key:value pairs.
     
     2. Unique keys
        * Each key in a dictionary must be unique.
        * Value can repeat, but keys cannot.

     3. Access by key
        * you get value by calling their key,not by index(like in list).
        
     4. Mutable
        * you can added, update,or remove key-value pairs even after creating a dictionary.

# 5. Why might you use a set instead of a list in Python?
  -> A set is better than a list when uniqueness and speed are important.
   1. No duplicate Allowed
       
      * A set automatically removes duplicate items.
      * Example-:
                  numbers = [1, 2, 3, 4, 5, 2]
                  unique = set(numbers)
                  print(unique)   # {1, 2, 3, 4, 5}
   2. Faster lookups
     
      * checking if an item exists in a set is much faster than in a list(because sets use hasing).
        
   3. Use case
      
      * Use a list when order matter or when duplicate are allowed.
      * Use a set when you only need unique items and fast searching.

# 6. What is a string in Python, and how is it different from a list?
  -> A string is an immutable sequence of characters,while a list is a mutable collection that can hold different data types.

    1. String- A string is a sequence of characters written inside single (' '), double (" "), or triple quotes(''' ''').
       
    2. Difference from list
       * Mutability -> string are immutable (cannot be change ),while list are muatble(can be changed).
       * Element -> A string stores only character, but a list can store elements of different data types(number, string, etc.).

# 7. How do tuples ensure data integrity in Python?
  -> Tuples ensure data integrity by being unchangeable, which makes stored data secure and reliable.

  1. Immutability - Tuples are immutable, meaning their elements cannot be changed, added, or removed after creation. This prevents accidental modification of data.
  
  2. Reliability - Because data in a tuple is fixed, it ensures that important values (like coordinates, dates, or constants) remain safe and consistent throughout the program.
       
# 8. What is a hash table, and how does it relate to dictionaries in Python?
  -> A hash table is the underlying data structure for Python dictionaries, allowing them to store and access key-value pairs quickly.

  1. Hash Table - A hash table is a data structure that stores data in key-value pairs. It uses a hash function to convert each key into a unique index, which decides where the value is stored in memory.

  2. Relation to Dictionaries - In Python, a dictionary is implemented using a hash table.
  
  key are passed through a hash function -> convert to an index.

# 9. Can lists contain different data types in Python?
  -> yes a list can store elements of different data types together(like integer, string, floats, even other list).
  
  Example -:
            
            my_list = [10,"Aditya",3.14 ,True ]
            print(my_list)

# 10. Explain why strings are immutable in Python.
  -> A string is never modified directly a new one is  always created.
   
   1. Safety - When a string is changed, a new object is created, and the old one stays safe.

   2. Reliability - Strings can be used as dictionary keys, so their value must remain fixed.

# 11. What advantages do dictionaries offer over lists for certain tasks?
  -> Dictionaries are better than lists when you need quick access and organized data using keys instead of indexes.
     
     1. Fast Lookups - Dictionaries use a hash table, so searching for a value by its key is much faster than searching through a list.

     2. Key-Value Mapping - Dictionaries let you store data as key : value pairs, which is more meaningful and easier to use than relying only on positions (indexes) in a list.

# 12. Describe a scenario where using a tuple would be preferable over a list.
  -> Use a tuple when the data must stay fixed and unchangeable, like coordinates, dates, or constants.
     
     * When data should not change -> for example,storing a Date of Birth (DBO):
                         dob = (2000, 5, 12) # year, month, day
          
       A tuple is better here because a DOB never changes.   
                           
# 13. How do sets handle duplicate value in Python ?                   
  ->  Sets in Python store only unique elements; duplicates are ignored.

  1. No Duplicates Allowed - A set automatically removes any duplicate values.

  2. Result - Even if you add the same value multiple times, it appears only once in the set.

# 14. How does the "in" keyword work differently for lists and dictionaries?        
  -> The in keywords is used to check whether an element exists inside a data structure or not.
  it always returns a Boolean value(True or False).

     1. in with list
        * in keyword checks whether a value/element is present in the sequence.
        
        * comparison happens element by element.
        Example-:
                 nums = [10, 20, 30, 40]
                 print(20 in nums) # True
                 print(25 in nums) # False
     
     2. in with Dictionaries
        * By default, in checks only the keys,not the values.
        * if the given element matches a key -> returns True.
        * To check values or key-value pairs, we must use.value() or .item().
        Example-:
                 student = {"name":"Aditya", "age": 22,"city": "Delhi"}
                 print("name" in student) # True
                 print("Aditya" in student) # False

# 15. Can you modify the elements of a tuple? Explain why or why not.
  -> No,you cannot modify the elements of a tuple once it is created. Because tuple is immutable -> its elements cannot be changed,added, or removed after creation.

  ->Why Tuple are immutable ?
    1. Data safety - Tuple is often used to store fixed data that should not be changed accidentlly.
   
    Example: date
    
    2. performance - Since tuple are immutable,python can optimize them for faster access and lower memory usage.

    3. Hashability - Tuple can be used as dictionary key or in set (lists cannot),because immutability makes them hashable.

# 16.  What is a nested dictionary, and give an example of its use case?
  -> A nested dictionary means a dictionary inside another   dictionary.
  
  It allows us to store data in a hierarchical (tree-like) structure.

  Normal dictionary → key : value

  Nested dictionary → key : {sub-dictionary}

  Example-:
           students = {
                "101": {"name":"Aditya", "age":20, "course":"Ai"},
                "102": {"name":"Rahul", "age":22, "course":"Data science"}
           }
           print(students["101"]["name"])
           # output: Aditya
           print(students["102"]["course"])
           # output: Data science
# 17. Describe the time complexity of accessing elements in a dictionary.
  -> a dictionary is implemented using a Hash Table.
     That means when you try to access an element using a key, Python uses the hash value of the key to directly jump to the location in memory.

     * Average case: Time complexity o(1)(constant time)
     * Worst case: Time complexity o(n)(linear time)

# 18. In what situations are lists preferred over dictionaries?
  -> Lists are preferred when:

     1. When order of elements matters

        * list preserve insertion order and allow indexing(list[0])
        * useful when you need sequential data.

     2. When you don't need key-value pairs

        * if data is just a collection of items (like number,name,marks),a list is simpler.
        * Dictionary is overkill if no unique keys are required.

      3. When duplicate values are allowed

         * lists can store duplicate items, while dictionary keys must be unique

# 19.  Why are dictionaries considered unordered, and how does that affect data retrieval?                   
  -> Dictionaries are considered unordered because elements are stored based on hash values, not index positions.
      
      1. Hash Table Implementation -
         A dictionary is implemented using a hash table, where the position of keys is determined by their hash values, not by insertion sequence.


      2. No Fixed Index -
         Unlike lists/tuples, dictionaries do not use numeric indexes (0, 1, 2...).
         Instead, each element is accessed only through its key.
  -> How Does This Affect Data Retrieval?
   
   * You cannot access dictionary elements by index (like dict[0]).
   *  You must always use the key to retrieve values.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
  -> Difference between list and Dictionary in Terms of data Rrtrieval
     1. list :
          * Elements are retrieved using index numbers (position).

          * Index starts from 0.

          * Retrieval is position-based.

     2. Dictionary :
                 
                  * Elements are retrieved using keys, not index.

                  * Keys can be strings, numbers, or other   immutable objects.

                  * Retrieval is key-based.

Practical Question

# 1. Write a code to create a string with your name and print it.

In [ ]:
Name = "Aditya Mishra"
print(Name)

Aditya Mishra

# 2. Write a code to find the length of string "Hello World".

In [ ]:
string = "Hello World"
print(len(string))

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"
print(string[:3])

Pyt

# 4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
print(string.upper())

HELLO

# 5. Write a code replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
print(string.replace("apple","orange"))

I like orange

# 6. Write a code to create a list with number 1 to 5 and print it.

In [ ]:
number = [1, 2, 3, 4, 5]
print(number)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list[1, 2, 3, 4].

In [ ]:
number = [1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list[1, 2, 3, 4, 5].

In [ ]:
number = [1, 2, 3, 4, 5]
number.remove(3)
print(number)

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list  ['a','b','c','d'].

In [ ]:
element = ['a','b','c','d']
second_element = element[1]
print(second_element)

b

# 10. Write a code to reverse the list [10,20,30,40,50].

In [ ]:
number = [10,20,30,40,50]
number.reverse()
print(number)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the element 100,200,300 and print it.

In [ ]:
number = (100, 200, 300,)
print(number)

(100, 200, 300)

# 12. Write a code to access the second-to-element of the tuple('red','green', 'blue', 'yellow').

In [ ]:
color = ('red','green', 'blue', 'yellow')
second_element = color[1]
print(second_element)

green

# 13. Write a code to find the minimum number in the tuple(10,20,5,15).

In [ ]:
number = (10,20,5,15)
minimum = min(number)
print(minimum)

5

# 14. Write a code to find the index of the element"cat"in the tuple('dog','cat','rabbit').

In [ ]:
Animal = ('dog','cat','rabbit')
print(Animal.index('cat'))

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi"is in it.

In [ ]:
fruits = ("apple","mango","banana")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

# 16. Write a code to create a set with the elements 'a','b','c' and print it.

In [ ]:
letter = {'a','b','c'}
print(letter)

{'a', 'b', 'c'}

# 17. Write a code to clear all element 4 from the set{1,2,3,4,5}.

In [ ]:
number = {1,2,3,4,5}
number.clear()
print(number)

set()

# 18. Write a code to remove the elements 4 from the set{1,2,3,4}.

In [ ]:
numbers = {1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

# 19. Write a code to find the union of two sets{1,2,3} and {3,4,5}.

In [ ]:
set_1 = {1,2,3}
set_2 = {3,4,5}
union_set = set_1.union(set_2)
print(union_set)

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets{1,2,3} and {2,3,4}.

In [ ]:
set_1 = {1,2,3}
set_2 = {2,3,4}
intersection_set = set_1.intersection(set_2)
print(intersection_set)

{2, 3}

# 21. Write a code to create a dictionary with the keys "name","age", and "city", and print it.

In [ ]:
Employee = {

            "name" : "Aditya Mishra",
            "age" : 22,
            "city" : "patna"

}
print(Employee)

{'name': 'Aditya Mishra', 'age': 22, 'city': 'patna'}

# 22. Write code to add a new key-value pair "country":"USA" to the dictionary{'name':'john','age':25}.

In [ ]:
person = {'name':'john','age':25}
person['country'] = 'USA'
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

# 23. Write a code to access the value associated with the key "name" in the dictionary{'name':'Alice','age':30}.

In [ ]:
person = {'name':'Alice','age':30}
value = person['name']
print(value)

Alice

# 24. Write a code to remove the key "age" from the dictionary ['name': 'Bob', 'age': 22, city:'New York'].

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city':'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary ('name': 'Alice', 'city': 'Paris').

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'name': 'Alice', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 25}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).

In [ ]:
import random
number = [random.randint(1, 100) for _ in range(5)]
number.sort()
print(number)

[4, 51, 78, 93, 99]

# 28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
cloth = ['shirt','pant','t-shirt','jacket','sweater']
element = cloth[2]
print(element)

t-shirt

# 29 . Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a':1, 'b':2}
dict2 = {'c':3, 'd':4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 30. Write a code to convert a list of strings into a set.

In [ ]:
gaming_item =["Bat","badminton","football","cricket"]
set_item = set(gaming_item)
print(set_item)

{'badminton', 'cricket', 'Bat', 'football'}